<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2>Team</h2>
            <p>We are a team of enthusiastic students from NMAM Institute of Technology (NMAMIT), participating in this hackathon with passion and dedication</p>
        <section>
            <h2>Goal</h2>
            <p>We are working on a Student collaboration Space which helps students to connect and share their experiences and also share documents and notes.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <div class="hithesh">
                <div>
                    <h3>Hithesh Hg</h3>
                    <p>Team Lead</p>
                </div>
            </div>
            <div class="himanshu">
                <div>
                    <h3>Himanshu Poojary</h3>
                    <p>Backend Developer</p>
                </div>
            </div>
            <div class="prakyath">
                <div>
                    <h3>Prakyath Ashok Shetty</h3>
                    <p>Frontend Developer</p>
                </div>
            </div>
        </section>
        <section>
            <h2>What We Do</h2>
            <p>We will use the basics of HTML,CSS and JS and create a website based on the above goal.</p>
        </section>
        <section>
            <h2>Get in Touch</h2>
            <p>We encorage you yo get in touc with us as we are studying in NMAMIT we will exchange our experiences and we can attempt more hackathons like these in the upcoming days</p>
        </section>
</body>
</html>