body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-y: auto;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999; /* Ensure the navbar appears above other content */
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-list li a:hover {
    color: #00ffff; /* Light blue color on hover */
}
